VITE_FIREBASE_API_KEY=AIzaSyAP77EKvO3_X-DJrQ7yV_XyQG62yGx7Tq0
VITE_FIREBASE_AUTH_DOMAIN=kashamultimedia.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kashamultimedia
VITE_FIREBASE_STORAGE_BUCKET=kashamultimedia.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=19513916917
VITE_FIREBASE_APP_ID=1:19513916917:web:bf71ac4c5cf36491d834bc
VITE_FIREBASE_MEASUREMENT_ID=G-R634MM4CQV
